*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #252b42;
}

a {
  text-decoration: none;
}

.header-container {
  background-image: url("../assets/background_mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .header-container {
    background-image: url("../assets/bg-desktop.png");
    background-size: cover;
  }
}

.header-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.7rem 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .header-container .nav-container .nav__toggler {
    display: none;
  }
}

.header-container .nav-container .nav__list {
  display: none;
}

@media (min-width: 1024px) {
  .header-container .nav-container .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 400;
    margin-right: 25px;
  }
}

.header-container .nav-container .nav__list .nav__item {
  padding: 1rem;
  margin-right: 2rem;
}

.header-container .nav-container .nav__list .nav__item a {
  color: #fff;
}

.header-container .nav-container__brand {
  padding: 1rem;
}

@media (min-width: 1024px) {
  .header-container .nav-container__brand {
    padding: 1rem;
    margin: 0 2rem;
  }
}

.header-container .content-container .content {
  padding: 3rem 2rem 0 2rem;
}

@media (min-width: 1024px) {
  .header-container .content-container .content {
    padding: 0rem 8rem 8.4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .header-container .content-container .content--frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-container .content-container .content--frame .content--intro h2 {
  padding: 5rem 3rem 0.7rem 3rem;
  margin: 1rem;
  color: #fff;
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 5.7rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .header-container .content-container .content--frame .content--intro h2 {
    font-size: 5.5rem;
    font-weight: 900;
    text-align: left;
    padding: 0;
  }
}

.header-container .content-container .content--frame .content--describe {
  margin: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
}

@media (min-width: 1024px) {
  .header-container .content-container .content--frame .content--describe {
    text-align: left;
  }
}

.header-container .content-container .content--frame .button-container__desk {
  display: none;
}

@media (min-width: 1024px) {
  .header-container .content-container .content--frame .button-container__desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-container .content-container .content--frame .button-container__desk .text-button__desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #fff;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #38a3f1;
  margin: 5rem 0rem 8rem 0rem;
}

.header-container .content-container .content .flatbrowser {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .header-container .content-container .content .flatbrowser {
    display: none;
  }
}

.header-container .content-container .content .flatbrowser_desk {
  display: none;
}

@media (min-width: 1024px) {
  .header-container .content-container .content .flatbrowser_desk {
    display: block;
  }
}

.header-container .content-container .content .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .header-container .content-container .content .button-container {
    display: none;
  }
}

.header-container .content-container .content .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #fff;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #38a3f1;
  margin: 5rem 7rem 8rem 7rem;
}

.feature-container {
  color: #fff;
}

.feature-container .feature {
  padding: 8rem 5rem 0.5rem 5rem;
}

.feature-container .feature--text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.feature-container .feature--text__content h3 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0.7rem 0;
}

.feature-container .feature--text__content h2 {
  font-weight: 400;
  font-size: 4.6rem;
  padding: 1rem;
  margin: 0.7rem 0;
}

.feature-container .feature--text__content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  text-align: center;
  line-height: 2rem;
}

.feature-container .feature__list {
  padding: 1.8rem 2.4rem;
}

@media (min-width: 1024px) {
  .feature-container .feature__list {
    padding: 0;
    padding-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature-container .feature__list__item {
  padding: 0 0.75rem 7.5rem 0.75rem;
}

@media (min-width: 1024px) {
  .feature-container .feature__list__item {
    margin: 0 2.5rem;
  }
}

.feature-container .feature__list__item .icon-and-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.feature-container .feature__list__item .icon-and-heading h3 {
  padding: 1rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

.feature-container .feature__list__item p {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.hero-container {
  color: #fff;
}

.hero-container .hero {
  padding: 3rem 2rem;
}

.hero-container .hero .scrct_mb {
  display: block;
}

@media (min-width: 1024px) {
  .hero-container .hero .scrct_mb {
    display: none;
  }
}

.hero-container .hero .scrct_dk {
  display: none;
}

@media (min-width: 1024px) {
  .hero-container .hero .scrct_dk {
    display: block;
    height: 577px;
    width: 1033px;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.hero-container .hero--content {
  padding: 5rem 0;
}

.hero-container .hero--content--text h2 {
  padding: 1rem;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 5.7rem;
  text-align: center;
}

.hero-container .hero--content--text h4 {
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.hero-container .hero .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-container .hero .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #38a3f1;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}

.hero-container .hero img {
  padding: 5rem 0;
  width: 100%;
}

.cta-container {
  color: #fff;
  padding: 8rem 0;
}

.cta-container .cta {
  padding: 2rem 0;
}

.cta-container .cta--content {
  margin: 0 auto;
  padding-bottom: 5rem;
}

.cta-container .cta--content h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
}

.cta-container .cta--content h2 {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 5.7rem;
  text-align: center;
  padding: 1rem;
}

.cta-container .cta--action {
  padding: 1rem;
}

.cta-container .cta--action h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.cta-container .cta--action p {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
}

.cta-container .cta--action__subscribe {
  margin: 1.2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-container .cta--action__subscribe input {
  border-radius: 39px;
  background-color: #f4f4f4;
  height: 5.4rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .cta-container .cta--action__subscribe input {
    width: 35.3rem;
  }
}

.cta-container .cta--action__subscribe input[type="text"]::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  color: #18171d;
  vertical-align: middle;
  padding-left: 3.5rem;
}

.cta-container .cta--action__subscribe button {
  height: 5rem;
  background-color: #ef2779;
  border-radius: 3.5rem;
  width: 100%;
  margin: 1.2rem 0;
  font-size: 1.6rem;
  border: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .cta-container .cta--action__subscribe button {
    width: 35.3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}

.partners-container .partners {
  margin: 0 2rem;
}

.partners-container .partners--action__content {
  margin: 5rem 3rem;
}

.partners-container .partners--action__content h2 {
  padding: 1rem;
  font-weight: 400;
  font-size: 4.6rem;
  text-align: center;
  margin: 7px 0;
}

.partners-container .partners--action__content h4 {
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
}

.partners-container .partners--list {
  margin: 3rem 7rem 0 7rem;
}

@media (min-width: 1024px) {
  .partners-container .partners--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.partners-container .partners--list--item {
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .partners-container .partners--list--item {
    margin: 0 2.5rem;
  }
}

.partners-container .partners--list--item h6 {
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.partners-container .partners--list--item img {
  margin: 1.5rem;
}

.partners-container .partners--list--item p {
  padding: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.partners-container .partners .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-container .partners .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #38a3f1;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #fff;
  margin: 5rem 7rem 8rem 7rem;
}

.testimonials-container .testimonials {
  margin: 1rem 2.8rem;
}

.testimonials-container .testimonials--content h2 {
  padding: 1rem;
  font-weight: 400;
  font-size: 4.6rem;
  text-align: center;
  margin: 10rem 0 5rem 0;
}

.testimonials-container .testimonials--items {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.testimonials-container .testimonials--items .rectangle_img {
  margin-bottom: 4.5rem;
}

.testimonials-container .testimonials--items h4 {
  padding: 0.845rem;
  font-weight: 700;
  font-size: 13.53px;
  text-align: center;
  line-height: 16.91px;
  margin-bottom: 4.5rem;
}

.testimonials-container .testimonials--items--client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-container .testimonials--items--client img {
  padding-right: 1.1rem;
}

.testimonials-container .testimonials--items--client--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-container .testimonials--items--client--content h6 {
  width: 75px;
  height: 19.38px;
  padding: 2px 0;
  font-weight: 700;
  font-size: 1rem;
}

.testimonials-container .testimonials--items--client--content p {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 2px;
}

.testimonials-container .testimonials .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-container .testimonials .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 280px;
  background-color: #38a3f1;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #fff;
  margin-bottom: 10rem;
}

.pricing-container .pricing {
  margin: 0 2.8rem;
}

.pricing-container .pricing--content {
  margin: 10rem 2.05rem 3rem 2.05rem;
}

.pricing-container .pricing--content h2 {
  padding: 1rem;
  font-weight: 400;
  font-size: 4.6rem;
  text-align: center;
  margin: 0.7rem 0;
}

.pricing-container .pricing--content h4 {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

.pricing-container .pricing--list {
  margin: 5rem 1.2rem 10rem 1.2rem;
}

@media (min-width: 1024px) {
  .pricing-container .pricing--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pricing-container .pricing--list .bg-white {
  background-color: #fff;
}

.pricing-container .pricing--list .bg-gradient {
  background-image: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
}

.pricing-container .pricing--list--item {
  border: 1px solid #dedede;
  padding: 4rem;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .pricing-container .pricing--list--item {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.pricing-container .pricing--list--item .item__heading {
  padding-bottom: 3rem;
}

.pricing-container .pricing--list--item .item__heading h3 {
  color: #252b42;
  margin: 0.3rem 0;
  text-align: start;
  font-weight: 700;
  font-size: 2.2rem;
}

.pricing-container .pricing--list--item .item__heading h6 {
  color: #252b42;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: start;
}

.pricing-container .pricing--list--item .item--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

.pricing-container .pricing--list--item .item--price h1 {
  padding: 1rem;
  color: #252b42;
  font-weight: 900;
  font-size: 5.5rem;
}

.pricing-container .pricing--list--item .item--price__month h3 {
  color: #252b42;
  font-weight: 700;
  font-size: 2.2rem;
}

.pricing-container .pricing--list--item .item--price__month h6 {
  color: #252b42;
  font-weight: 700;
  font-size: 1.2rem;
}

.pricing-container .pricing--list--item .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-container .pricing--list--item .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #38a3f1;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #fff;
}

.pricing-container .pricing--list .mgbt {
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  .pricing-container .pricing--list .mgbt {
    margin-bottom: 0;
  }
}

.contact-container {
  background-color: #d6ebff;
}

.contact-container .contact {
  padding: 10rem 2rem;
}

.contact-container .contact--content h2 {
  padding: 1rem;
  font-size: 4.6rem;
  font-weight: normal;
  text-align: center;
  color: #252b42;
}

.contact-container .contact--content h4 {
  color: #252b42;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .contact-container .contact--desktop--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
}

.contact-container .contact--desktop--container .social--list {
  margin-left: 6.5rem;
}

@media (min-width: 1024px) {
  .contact-container .contact--desktop--container .social--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-container .contact--desktop--container .social--list .contact--social {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact--desktop--container .social--list .contact--social--media {
  padding: 1rem;
  margin: 0.5rem;
}

.contact-container .contact--desktop--container .social--list .contact--list--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.8rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact--desktop--container .social--list .contact--list--wrapper .contact--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact--desktop--container .social--list .contact--list--wrapper .contact--list--item {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-container .contact--desktop--container .social--list .contact--list--wrapper .contact--list--item h6 {
  padding: 1rem;
  margin-left: 1rem;
  color: #252b42;
  font-weight: 700;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .contact-container .contact--desktop--container .contact--action {
    width: 430px;
  }
}

.contact-container .contact--desktop--container .contact--action--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5rem;
  background-color: #fff;
  border-radius: 2rem;
}

.contact-container .contact--desktop--container .contact--action--form h3 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #252b42;
  text-align: center;
  padding-top: 5rem;
}

.contact-container .contact--desktop--container .contact--action--form .contact--input {
  margin-top: 4.5rem;
  background-color: #f5f5f5;
  width: 100%;
  height: 5.4rem;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .contact-container .contact--desktop--container .contact--action--form .contact--input {
    height: 3.5rem;
    margin-top: 3rem;
  }
}

.contact-container .contact--desktop--container .contact--action--form .contact--input p {
  color: #252b42;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.contact-container .contact--desktop--container .contact--action--form .contact--message {
  margin-top: 4.5rem;
  height: 28rem;
  width: 100%;
  background-color: #f5f5f5;
}

@media (min-width: 1024px) {
  .contact-container .contact--desktop--container .contact--action--form .contact--message {
    margin-top: 3rem;
    height: 12.6rem;
  }
}

.contact-container .contact--desktop--container .contact--action--form .contact--message__send {
  padding: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.contact-container .contact--desktop--container .contact--action--form .send-button {
  border-radius: 3.5rem;
  color: #fff;
  background-color: #ef2779;
  font-size: 1.6rem;
  width: 14.5rem;
  height: 5rem;
  margin: 4.5rem 0 4.5rem 0;
  border: none;
  -ms-grid-column-align: start;
      justify-self: start;
}
