*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #252b42;
}

.header-container {
  background-image: url("../assets/background_mobile.png");
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .header-container {
    background-image: url("../assets/background_desktop.png");
    background-size: cover;
  }
}

.header-container .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.7rem 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .nav-container__brand {
  margin: 1rem;
}

.header-container .content-container .content {
  padding: 3rem 2rem 0 2rem;
}

.header-container .content-container .content--intro h2 {
  padding: 5rem 3rem 0.7rem 3rem;
  margin: 1rem;
  color: #fff;
  font-size: 4.6rem;
  font-weight: 400;
  line-height: 5.7rem;
  text-align: center;
}

.header-container .content-container .content--describe {
  margin: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #fff;
}

.header-container .content-container .content .flatbrowser {
  max-width: 100%;
}

.header-container .content-container .content .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .content-container .content .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #fff;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #38a3f1;
  margin: 5rem 7rem 8rem 7rem;
}

.feature-container {
  color: #fff;
}

.feature-container .feature {
  padding: 8rem 5rem 0.5rem 5rem;
}

.feature-container .feature--text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.feature-container .feature--text__content h3 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0.7rem 0;
}

.feature-container .feature--text__content h2 {
  font-weight: 400;
  font-size: 4.6rem;
  padding: 1rem;
  margin: 0.7rem 0;
}

.feature-container .feature--text__content h4 {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  text-align: center;
  line-height: 2rem;
}

.feature-container .feature__list {
  padding: 1.8rem 2.4rem;
}

.feature-container .feature__list__item {
  padding: 0 0.75rem 7.5rem 0.75rem;
}

.feature-container .feature__list__item .icon-and-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.feature-container .feature__list__item .icon-and-heading h3 {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 3.3rem;
}

.feature-container .feature__list__item p {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.7rem;
}

.hero-container {
  color: #fff;
}

.hero-container .hero {
  padding: 3rem 2rem;
}

.hero-container .hero--content {
  padding: 5rem 0;
}

.hero-container .hero--content--text h2 {
  padding: 1rem;
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 5.7rem;
  text-align: center;
}

.hero-container .hero--content--text h4 {
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
}

.hero-container .hero .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-container .hero .button-container .text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 236px;
  background-color: #38a3f1;
  border-radius: 3.5rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #fff;
  margin: 1rem 0;
}

.hero-container .hero img {
  padding: 5rem 0;
  width: 100%;
}

.cta-container {
  color: #fff;
  padding: 8rem 0;
}

.cta-container .cta {
  padding: 2rem 0;
}

.cta-container .cta--content {
  margin: 0 auto;
  padding-bottom: 5rem;
}

.cta-container .cta--content h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
}

.cta-container .cta--content h2 {
  font-weight: 400;
  font-size: 4.6rem;
  line-height: 5.7rem;
  text-align: center;
  padding: 1rem;
}

.cta-container .cta--action {
  padding: 1rem;
}

.cta-container .cta--action h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  padding-bottom: 1rem;
}

.cta-container .cta--action p {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
}

.cta-container .cta--action__subscribe {
  margin: 1.2rem 1rem;
}

.cta-container .cta--action__subscribe input {
  border-radius: 39px;
  background-color: #f4f4f4;
  height: 5.4rem;
  width: 100%;
}

.cta-container .cta--action__subscribe input[type="text"]::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  color: #18171d;
  vertical-align: middle;
  padding-left: 3.5rem;
}

.cta-container .cta--action__subscribe button {
  color: #fff;
  height: 5rem;
  background-color: #ef2779;
  border-radius: 3.5rem;
  width: 100%;
  margin: 1.2rem 0;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
