.hero-container {
  color: $text-color;

  .hero {
    padding: 3rem 2rem;

    .scrct_mb {
      display: block;
      @include desktop {
        display: none;
      }
    }

    .scrct_dk {
      display: none;
      @include desktop {
        display: block;
        height: 577px;
        width: 1033px;
        margin: 0 auto;
        margin-top: 5rem;
      }
    }

    &--content {
      padding: 5rem 0;

      &--text {
        h2 {
          padding: 1rem;
          font-weight: 400;
          font-size: 4.6rem;
          line-height: 5.7rem;
          text-align: center;
        }

        h4 {
          padding: 1rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2rem;
        }
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .text-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        width: 236px;
        background-color: #38a3f1;
        border-radius: 3.5rem;
        font-weight: bold;
        font-size: 2.2rem;
        line-height: 3.3rem;
        text-align: center;
        color: #fff;
        margin: 1rem 0;
      }
    }

    img {
      padding: 5rem 0;
      width: 100%;
    }
  }
}
